h1 {
  color: rgb(100, 118, 184);
  font-family: calibri;
}
h2 {
  color: rgb(94, 94, 190);
  background-color: rgb(171, 171, 253);
}
h3 {
  color: rgb(100, 189, 17);
  background-color: rgb(137, 214, 155);
}
p1 {
  color:rgb(138, 8, 69);
  background-color:rgb(149, 153, 204);
  font-family:arial;
}
p2 {
  font-size: 100;
  color:dodgerblue;
  border: 2px solid dodgerblue;
  background-color: rgb(129, 191, 253);
}
p3 {
  border: 2px solid rgba(81, 123, 161, 0.75);
  color:rgba(81, 123, 161, 1);
  font-size: 130;
  padding: 5px;
}
p4 {
  color:rgb(150, 50, 300);
  font-family:dubai medium;
}
