
h1 {
  color: rgb(100, 118, 184);
  font-family: Calibri;
}
h2 {
  color: rgb(94, 94, 190);
  background-color: rgb(171, 171, 253);
  margin: 20px;
}
h3 {
  color: rgb(100, 189, 17);
  background-color: rgb(137, 214, 155);
  margin: 20px;

}
p1 {
  color:rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  font-family:arial;
  border: 4px solid rgb(255, 255, 255);
}
p2 {
  font-size: 100;
  color:dodgerblue;
  border: 2px solid dodgerblue;
  background-color: rgb(129, 191, 253);
  margin: 50px;
}
p3 {
  border: 2px solid rgba(81, 123, 161, 0.75);
  color:rgba(81, 123, 161, 1);
  font-size: 130;
  padding: 5px;
  margin: 50px;
}
p4 {
  color:rgb(0, 0, 0);
  background-color: white;
  font-family:dubai medium;
  font-size: 200%;
}
p5 {
  color:rgb(100, 189, 17);
  border: 2px solid rgb(100, 189, 17);
  background-color:aliceblue;
  font-family: dubai medium;
}
p6 {
  color:rgb(153, 153, 153);
  background-color:rgb(255, 255, 255);
  font-family:arial;
  border: 4px solid rgb(255, 255, 255);
}

a:link {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: rgb(202, 228, 255);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 119, 255);
  background-color: transparent;
  text-decoration: underline;
}
