h1 {
background-color: rgb(199, 199, 199);
color: rgb(90, 90, 90);
text-align: center;
padding: 5px;
border-radius: 20px;
}

h2 {
    
    color: rgb(90, 90, 90);
    text-align: center;
    
}

/*p1 {
    color: rgb(90, 90, 90);
}*/

.legal {
    text-align: right;
    margin-bottom: 0px;
    padding-right: 15px;
}

.copyr {
    background-color: rgb(199, 199, 199);
    color: rgb(90, 90, 90);
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 0px;
}

#legal a:link {
    color: rgb(66, 66, 66);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
    font-size: x-small;
  }
  #legal a:visited {
    color: rgb(175, 175, 175);
    background-color: transparent;
    text-decoration: none;
    font-style: italic;
    font-size: x-small;
  }
  #legal a:hover {
    color: rgb(48, 48, 48);
    background-color: transparent;
    text-decoration: underline;
    font-style: italic;
    font-size: x-small;
  }
  #legal a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
    font-style: italic;
    font-size: x-small;
  }